/*==========  font-family: 'Open Sans', sans-serif;  ==========*/
/*==========  Basic Styling  ==========*/
* {
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 1em;
   background-color: rgba(48,39,13,0.08);
}

.wrapper {
}

/*==========  Header  ==========*/
header {
   margin: 0;
}

.main-header, article header {
   transition: all 0.8s ease-in-out;
}

.main-header:hover, article header:hover {
   opacity: 0.9;
}

article header:hover {
   transform: scale(1.0125);
}

nav {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
   background-color: #fff;
   box-shadow: -0.1em 0.1em 0.2em rgba(48,39,13,0.06);
}

nav ul {
   list-style: none;
   position: relative;
   left: 90%;
   top: 0;
   bottom: 0;
   margin: 0% 0;
   display: flex;
   flex-direction: row;
   align-items: center;
}

nav li {
   display: inline;
   margin-right: 2%;
}

nav a {
   text-decoration: none;
   transform: scale(1);
   font-weight: 300;
   color: black;
   letter-spacing: 0.1em;
   padding: 0 0;
   transition: all ease-in-out 0.2s;
}

nav a span {
   font-weight: 800;
   font-size: 1.2em;
}

nav a:hover {
   color: rgba(48,39,13,0.6);
   transform: scale(0.8);
}

.hero {
   height: 100vh;
   background: url("imgs/bg1.jpg") fixed;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}

.hero h1 {
   font-size: 4em;
   font-weight: 700;
   margin-bottom: 0;
}

.hero p {
   font-size: 1.2em;
}


/*==========  post styling  ==========*/
.indent {
   border-left: 4px #C7883A solid;
   padding-left: 2%;
   font-size: .85em;
   line-height: 2.5em;
   text-align: left;
}

.default-post {
   max-width: 65%;
   margin: 3% auto 0;
}

.default-post p {
   color: #30270D;
   font-weight: 400;
   opacity: 0.7;
}

.default-post span {
   color: #30270D;
   opacity: 0.5;
   font-size: 0.75em;
}

.default-post section {
   background-color: white;
   padding: 4% 2% 2%;
   box-shadow: 0.2em 0em 0.6em rgba(48,39,13,0.05);
}

.default-post header {
   max-width: 100%;
   height: 25em;
}

.image-1 {
   background: url('imgs/profilePic.jpg') center center;
}

.image-2 {
   background: url('imgs/profilePic1.jpg') center center;
}

.image-3 {
   background: url('imgs/profilePic2.jpg') center center;
}

.image-4 {
   background: url('imgs/profilePic3.jpg') center center;
}

.image-1, .image-2, .image-3, .image-4 {
   background-size: cover;
}

.default-post div {
   display: block;
}

.default-post div a {
   text-decoration: none;
   color: #5E4C3E;
   margin-left: 2%;
   transition: all 0.4s ease-in;
}

.default-post div a:hover {
   color: #C7883A;
}

.ReadM:after {
   content: '→';
   font-size: 1.25em;
}

.ReadM {
   position: relative;
   z-index : 1;
   left: 0;
}

.ReadM:hover {
   left: 4%;
}

.scalUp {
   transform: scale(1);
}

.scalUp:hover {
   transform: scale(0.9);
}

.default-post span a {
   text-decoration: none;
}

.default-post span a:hover {
   text-decoration: underline;
   color: #30270D;
   opacity: 1;
}


/*==========  Older posts  ==========*/
.olderPosts {
   width: 100%;
   text-align: center;
   margin: 6% 0;
   padding-top: 4%;
   border-top: 1px solid rgba(48,39,13,0.1);
   font-size: 1.25em;
}

.olderPosts a {
   text-decoration: none;
   color: #30270D;
   transition: all 1s ease-in-out;
}

.olderPosts a:hover {
   text-decoration: underline;
}


/*==========  footer  ==========*/
footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   background-color: rgba(0,0,0,0.4);
   color: white;
   font-size: 1em;
   line-height: 1.5em;
   font-weight: 300;
}

footer div {
   width: 100%;
   padding: 6% 3%;
   border-right: rgba(255,255,255,0.1) solid 1px;
}

.company {

}

.company-icon {
   font-size: 6em;
   margin: 0 0 14%;
}

.About a, .Contact a {
   text-decoration: none;
   color: white;
}

.About ul, .Contact ul {
   list-style: none;
}

.About li {

   margin-bottom: 8%;
}

.About i {
   width: 16%;
   text-align: left;
}

.Contact li {
   margin-right: 10%;
   display: inline;
}

.Contact a {
   opacity: 0.6;
   transition: all 0.3s ease-in-out;
}

.Contact a:hover {
   opacity: 1;
}

/*==========  Things  ==========*/
.left {
   width: 25%;
   float: left;
   text-align: left;
}

.right {
   float: right;
   text-align: right;
   width: 75%;
   font-size: 1.25em;
}

/*==========  The clear fix motherfuckers  ==========*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}